aiofiles==24.1.*
aioitertools==0.13.*
aiomultiprocess==0.9.*
asynciolimiter==1.2.*
Authlib==1.6.*
backoff==2.2.*
frozendict==2.4.*
httpx==0.28.*
more_itertools==10.8.*
pe==0.6.*
pydantic==2.13.4
pydantic-extra-types==2.11.*
pydantic-settings==2.15.0
pycountry==24.6.*
requests==2.32.*
SQLAlchemy[aiosqlite]==2.0.54
titlecase==2.4.*